<section class="atelier2top">
<div class="container">

	<div class="row padding-top-25">
		
		<div class="col-md-8 border-right">
			<div class="col-md-12 atelier2-titre">
				VOUS AVEZ CHOISI LA COLLECTION ><span class="choix"> Vie de Boheme</span>
			</div>
			<div class="col-md-4">
				<div class="thumbnail thumbnail3 bordered3 border-red">
	 	   				<%= link_to (image_tag("boheme.jpg")), root_path %>
	 	   	</div>
	 	  </div>
 	   	<div class="col-md-4">
	 	   	<div class="thumbnail thumbnail3 bordered3">
	 	   				<%= link_to (image_tag("illuminationdoree.jpg")), root_path %>
	 	   	</div>
	 	  </div>
 	   	<div class="col-md-4">
	 	   	<div class="thumbnail thumbnail3 bordered3">
	 	   				<%= link_to (image_tag("workinggirl.jpg")), root_path %>
	 	   	</div>
	 	  </div>
	 	  <div class="col-md-12">
	 	  	La collection Vie de Bohème ... Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum. 
	 	  </div>
		</div>

		<div class="col-md-4">
			<div class="col-md-12 atelier2-titre">
				DETAILS PRATIQUES
			</div>
			<div class="col-md-12">
				<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de participation: 10/09/15 - 25/09/15</div>
				<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de votes: 17/09/15 - 01/10/15</div>
			</div>
			<div class="col-md-12 atelier2-titre5">
				Quelques conseils:
			</div>
			<div class="col-md-12 nopadding">
				<ul>
					<li>XXX</li>
					<li>XXX</li>
				</ul>
			</div>
		</div>

	</div>
</div>
</section>

<section class="atelier3bottom">
	<div class="container">
		<div class="row padding-top-25">
			<div class="col-md-6 col-md-offset-3 offset atelier2-titre2 text-center">
				Avant de proposez vos créations, complétez votre profil!
			</div>
			<div class="col-md-8 col-md-offset-2 padding-left-15">
						<div class="col-md-12 nopadding form-group">
							<div class="subtitle">Email* :</div>
				      <input type="text" class="form-control border-connexion" placeholder=""></input>
			      </div>
			      <div class="col-md-6 nopadding form-group">
							<div class="subtitle">Prénom* :</div>
				      <input type="text" class="form-control border-connexion" placeholder=""></input>
			      </div>
			      <div class="col-md-6 nopadding form-group">
							<div class="subtitle">Nom* :</div>
				      <input type="text" class="form-control border-connexion" placeholder=""></input>
			      </div>
			      <div class="col-md-6 nopadding form-group">
							<div class="subtitle">
								<div class="col-md-6 nopadding subtitle2">Genre* :</div>
								<div class="col-md-6 nopadding text-right subtitle2"><i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Laissez Aglaïa & Co vous envoyer les informations les plus pertinentes pour vous!"></i></div>
							</div>
				      <input type="text" class="form-control border-connexion" placeholder=""></input>
			      </div>
			      <div class="col-md-6 nopadding form-group">
							<div class="subtitle">
								<div class="col-md-6 nopadding subtitle2">Date de naissance* :</div>
								<div class="col-md-6 nopadding text-right subtitle2"><i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Seules les personnes majeures peuvent participer au concours."></i></div>
							</div>
				      <input type="text" class="form-control border-connexion" placeholder=""></input>
			      </div>
	      <div class="col-md-6 nopadding form-group">
					<div class="subtitle">
						<div class="col-md-6 nopadding subtitle2">Code postal* :</div>
						<div class="col-md-6 nopadding text-right subtitle2"><i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Restez au courant des nouveautés de votre région!"></i></div>
					</div>
	      <input type="text" class="form-control border-connexion" placeholder=""></input>
      </div>
      <div class="col-md-6 nopadding form-group">
					<div class="subtitle">
						<div class="col-md-6 nopadding subtitle2">Téléphone* :</div>
						<div class="col-md-6 nopadding text-right subtitle2"><i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="Laissez nous vous appeler pour vous annoncer votre victoire!"></i></div>
					</div>
	      <input type="text" class="form-control border-connexion" placeholder=""></input>
      </div>
      <div class="col-md-12 nopadding">
	  		<div class="checkbox">
			    <label>
			      <input type="checkbox">J'accepte le <a href="">règlement du concours*</a>
			    </label>
			  </div>
      </div>
      <div class="col-md-12 nopadding signupbouton">
				<div class="inline">
					<%= link_to root_path, class: "btn btn-danger btn-lg btn-jumbotron" do %>
					CONTINUER
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="btn-group choice" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default choice2">JE PARTICIPE!</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default choice3">JE VOTE!</button>
  </div>
</div>