<section>
	
	<div class="container">
		
		<div class="row padding-top-25">
			<div class="col-md-8" style="border-right: 1px solid #DEDEDE">
				<div class="col-md-12 text-montserrat padding-bottom-10" style="font-size:18px">
					VOUS AVEZ CHOISI LA COLLECTION ><span class="boheme"> Vie de Boheme</span>
				</div>
				<div class="col-md-4">
					<div class="thumbnail selected-theme">
		 	   				<%= link_to (image_tag("boheme.jpg")), root_path %>
		 	   	</div>
		 	  </div>
	 	   	<div class="col-md-4">
		 	   	<div class="thumbnail theme">
		 	   				<%= link_to (image_tag("illuminationdoree.jpg")), root_path %>
		 	   	</div>
		 	  </div>
	 	   	<div class="col-md-4">
		 	   	<div class="thumbnail theme">
		 	   				<%= link_to (image_tag("workinggirl.jpg")), root_path %>
		 	   	</div>
		 	  </div>
		 	  <div class="col-md-12">
		 	  	La collection Vie de Bohème ... Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum. 
		 	  </div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 text-montserrat padding-bottom-10" style="font-size:18px">
					DETAILS PRATIQUES
				</div>
				<div class="col-md-12 padding-bottom-30">
					<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de participation: 10/09/15 - 25/09/15</div>
					<div><i class="fa fa-calendar"></i>&nbsp;&nbsp;Phase de votes: 17/09/15 - 01/10/15</div>
				</div>
				<div class="col-md-12 text-merriweather padding-bottom-10" style="font-style:italic; font-size:18px;">
					Quelques conseils:
				</div>
				<div class="col-md-12 no-padding">
					<ul>
						<li>XXX</li>
						<li>XXX</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

</section>

<section class="margin-top-70 padding-bottom-50 padding-top-40" style="background-color:#F4F7F9">
	
	<div class="container">
		
		<div class="row padding-top-25">
			
			<div class="col-md-6 col-md-offset-3 text-merriweather text-center" style="font-size:24px; font-weight:bold;">
				Vos propositions de créations
			</div>
			<div class="col-md-6 col-md-offset-3 offset margin-bottom-30 text-center">
				Vos pouvez proposer jusqu'à 3 designs en participant au concours.
			</div>
			<div class="col-md-4 padding-left-30 padding-right-30">
				<div class="thumbnail bordered2">
					<%= link_to (image_tag("dessin.jpg")), root_path %>
					<div class="caption" id="caption-down">
 	   					<div class="description-dessin text-center">
							<div class="merriweather">Intitulé du dessin</div>
							<span class="label label-default">#Collier</span>
							<span class="label label-default">#Bracelet</span>
							<div class="padding-top-20">"Description du dessin."</div>
							</div>
 	   			</div>	
				</div>	
				<div class="caption text-center">
						<div class="inline captioncolor2"><i class="fa fa-eye"></i></div>
						<div class="inline border-icon captioncolor2"><i class="fa fa-pencil-square-o"></i></div>
						<div class="inline captioncolor2"><i class="fa fa-trash"></i></div>
						<div class="padding-top-5" style="font-weight:bold">Classement actuel :  <span style="font-size: 22px; color:#F56970; font-weight:bold; font-style:italic;">10</span>/112</div>
				</div>
			</div>
			<div class="col-md-4 padding-left-30 padding-right-30">
				<div class="thumbnail bordered">
					<i class="fa fa-plus fa-3x"></i>
				</div>
			</div>
			<div class="col-md-4 padding-left-30 padding-right-30">
				<div class="thumbnail bordered">
					<i class="fa fa-plus fa-3x"></i>
				</div>
			</div>
		
		</div>
	
	</div>

</section>

<section class="padding-bottom-50 padding-top-30">
	<div class="container">
			<div class="row padding-top-25">
				<div class="col-md-12 text-merriweather text-center" style="font-size:24px; font-weight:bold;">
				Proposez votre création
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
					Vous pouvez encore proposer 2 designs.
				</div>
				<div class="col-xs-12 col-sm-8 col-md-10 col-md-offset-1 margin-top-25">					
						<div class="col-xs-12 col-sm-6 col-md-offset-1 nopadding">
						<form method="post" role="form">
							<div class="row">
								<div class="form-group col-xs-12 col-sm-12">
									<label><strong>Intitulé du dessin* :</strong></label>
									<input type="email" class="form-control" placeholder="" name="email" required>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-12">
									<fieldset>
									    <label><strong>Quel(s) type(s) de bijoux compose(nt) votre dessin?</strong></label></br>	
									    <input type="checkbox" style="margin-right:5px" name="rules" value="true"><div class="inline padding-right-10">Bracelet</div>
									    <input type="checkbox" style="margin-right:5px" name="rules" value="true"><div class="inline padding-right-10">Collier</div>
									    <input type="checkbox" style="margin-right:5px" name="rules" value="true"><div class="inline padding-right-10">Sautoir</div>
									    <input type="checkbox" style="margin-right:5px" name="rules" value="true"><div class="inline padding-right-10">Boucles d'oreilles</div>
									</fieldset>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-12">
									<label><strong>Description*</strong> <span style="font-style:italic">(250 caractères maximum) :</span></label>
									<textarea class="form-control" style="height:170px; max-width:100%;"></textarea>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-xs-12 col-sm-12">
							    <label for="exampleInputFile"><strong>Téléchargez votre dessin*</strong></label>
							    <input type="file" id="exampleInputFile">
							  </div>
							</div>
							<div class="form-group col-xs-12 col-sm-12 nopadding">
									<input type="hidden" name="sign_up" value="true">
									<button type="submit" class="btn btn-lg btn-black margin-top-15">SOUMETTRE</button>							
							</div>
							<div class="form-group col-xs-12 col-sm-12 no-padding padding-top-10" style="color:#CCCCCC">
							(*) Champs obligatoires
							</div>
						</form>
						</div>
						<div class="col-xs-12 col-sm-5 padding-left-40">
							<label for="exampleInputFile"><strong>Vue du dessin</strong></label>
							<div class="thumbnail bordered3">
								<i class="fa fa-spinner fa-pulse fa-2x"></i>
							</div>
							<div class="col-md-12 no-padding text-merriweather padding-top-10 padding-bottom-10" style="font-style:italic; font-size:14px;">
								<span style="font-size: 22px; color:#F56970;">5</span> commandements pour un dessin parfait:
							</div>
							<div class="col-md-12 no-padding">
								<ul class="padding-left-15">
									<li>Dessin en couleur</li>
									<li>Dessin représentant 1 ou plusieurs bijoux</li>
									<li>Dessin au format jpg ou png</li>
									<li>Dessin de moins de 200 Mo</li>
									<li>XXX</li>
								</ul>
							</div>
						</div>
					</div>
			</div>
	</div>
</section>


<div class="col-md-4 col-md-offset-4 selection">
	<div class="btn-group" role="group" aria-label="...">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-selection-on">JE PARTICIPE!</button>
	  </div> 
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-selection-off">JE VOTE!</button>
	  </div>
	</div>
</div>