<section class="social">
	<div class="container">
		<div class="row social-titre text-center">
			Restez connectées
		</div>
		<div class="row social-texte text-center">
			Suivez nous sur les réseaux sociaux ou abonnez-vous à notre newsletter.
		</div>
		<div class="row">
			<div class="col-md-6 text-right socialboxes">
				<div class="socialbox"><i class="fa fa-facebook-square fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-twitter-square fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-pinterest-square fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-instagram fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-google-plus-square fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-tumblr-square fa-2x"></i></div>
				<div class="socialbox"><i class="fa fa-youtube-square fa-2x"></i></div>
			</div>
			<div class="col-md-6 text-left newsletter">
				<form class="form-inline">
				  <div class="form-group">
				    <div class="input-group borderform1">
				      <input type="text" class="form-control borderform" placeholder="Votre adresse email"></input>
				      <div class="input-group-addon borderform2">></div>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</section>

<section class="footer">
	<div class="container">
		<div class=row>
		<div class="col-md-3">
			<div class="footer-titre">SOCIETE</div>
			<ul class="footer-list">
				<li>A propos d'aglaïa & co</li>
				<li>Sécurité</li>
				<li>Confidentialité et cookies</li>
				<li>Conditions générales</li>
				<li>Mentions légales</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="footer-titre">AIDE</div>
			<ul class="footer-list">
				<li>Suivre mes commandes</li>
				<li>Livraisons et retours</li>
				<li>Plan du site</li>
				<li>FAQ</li>
				<li>Contactez nous</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="footer-titre">NOUS REJOINDRE</div>
				<ul class="footer-list">
					<li>L'équipe</li>
					<li>Jobs @ aglaïa&co</li>
					<li>Devenez représentantes</li>
					<li>Nos prochains évènements</li>
				</ul>
			</div>
		<div class="col-md-3">
			<div class="footer-titre">NOUS TROUVER</div>
				<ul class="footer-list">
					<li>Nos ateliers et showrooms</li>
				</ul>
				<div class="footer-titre2">MODES DE PAIEMENT</div>
				<ul class="footer-list">
					<li>
						<i class="fa fa-cc-visa fa-2x"></i>
						<i class="fa fa-cc-mastercard fa-2x"></i>
						<i class="fa fa-cc-amex fa-2x"></i>
						<i class="fa fa-cc-paypal fa-2x"></i>
					</li>
					<li class="align">
						<i class="fa fa-expeditedssl fa">&nbsp;&nbsp;</i>Paiement SSL sécurisé
					</li>
				</ul>
			</div>
	</div>
	<div class="row footer-bottom">
		<div class="col-md-4">
			© 2015, Aglaïa & Co. Tous droits réservés.
		</div>
		<div class="col-md-4 text-center">
			Made with <i class="fa fa-heart"></i> in France
		</div>
		<div class="col-md-4 text-right">
			<a href="#top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">Back to top <i class="fa fa-angle-up"></i></a>
		</div>
	</div>
 </div>
</div>